body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f4f4f4;
}

header {
  background: #3344aa;
  color: white;
  padding: 20px 0;
  text-align: center;
}

section {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

h2 {
  color: #3344aa;
}

ul {
  list-style: square;
  padding-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.project {
  margin-bottom: 20px;
}

a {
  color: #3344aa;
  text-decoration: none;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}
